{% extends 'base.html' %}
{% block body %}
<form method="POST" action="/user/login" class="mt-5 border bg-gray-200 mx-auto w-100 rounded-sm px-10 py-3"
      id="LoginForm">
    {{ form.hidden_tag }}
    <div>
        <p>{{ form.email.label }}</p>
        {{ form.email(class="form-control bg-gray-300 rounded-sm") }}<br>
        {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="mt-5">
        <p>{{ form.password.label }}</p>
        {{ form.password(class="bg-gray-300 form-control rounded-sm") }}<br>
        {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <p>{{ form.submit(class="px-3 mt-3 cursor-pointer rounded-sm bg-gray-300", type="submit") }}</p>
</form>

<script>
    {% if error %}
    alert({{ error }});
    {% endif %}
    document.getElementById('LoginForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch('http://localhost:8000/user/login', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(err => { throw new Error(err.detail); });
        }
        window.location.href = 'http://localhost:8000/';
    })
    .catch(error => {
        if (error.message == "Неправильный пароль") {
            alert(error.message);
        } else if (error.message == "[object Object]"){
            alert("Введите корректную почту");
        }
    });
    });
</script>

{% endblock %}
