{% extends 'base.html' %}

{% block body %}
<div class="flex justify-between mx-40 my-3">
    <div>
        <h2>Баланс:</h2>
        <p class="mt-5">{{ user.balance }}</p>
        <form method="POST" action="/records/" class="border mt-5 rounded-sm p-3 bg-gray-200"
              id="FastAddRecordForm">
            {{ FastAddRecordForm.hidden_tag }}
            <div>
                <p>{{ FastAddRecordForm.value.label }}</p>
                {{ FastAddRecordForm.value(class="form-control bg-gray-300 rounded-sm") }}<br>
                {% for error in FastAddRecordForm.value.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="mt-3">
                <p>{{ FastAddRecordForm.operation_type.label }}</p>
                {{ FastAddRecordForm.operation_type(class="form-control bg-gray-300 p-1 rounded-sm") }}<br>
                {% for error in FastAddRecordForm.operation_type.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="mt-3">
                <p>{{ FastAddRecordForm.comment.label }}</p>
                {{ FastAddRecordForm.comment(class="form-control bg-gray-300 p-1 rounded-sm") }}<br>
                {% for error in FastAddRecordForm.comment.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <p>{{ FastAddRecordForm.submit(class="mt-3 bg-gray-300 rounded-sm cursor-pointer px-3", type="submit")
                }}</p>
        </form>
    </div>
    <div>
        <h2>Ваша цель:</h2>
        <div class="mt-2">
            {% if user.goal_value %}
            <div class="flex justify-start gap-2">
                <p class="mb-2">{{ user.goal_value }}</p>
                {% if user.goal_name %}
                <p class="mb-2">На {{ user.goal_name }}</p>
                {% endif %}
            </div>
            <progress max="{{ user.goal_value }}" value="{{ user.balance }}"></progress><br>
            {% else %}
            <p>У вас нет цели</p>
            {% endif %}
            <a href="{{ url_for("statistics_page") }}" class="px-4 border rounded-sm bg-gray-300 cursor-pointer hover:bg-gray-400">Статистика</a>

            {% if ChangeTargetForm %}
            <a href="/" class="px-4 border rounded-sm bg-gray-300 cursor-pointer hover:bg-gray-400">Не менять цель</a>
            <form method="POST" action="/records/" class="border mt-5 rounded-sm p-3 bg-gray-200"
              id="ChangeTargetForm">
            {{ ChangeTargetForm.hidden_tag }}
            <div>
                <p>{{ ChangeTargetForm.goal_name.label }}</p>
                {{ ChangeTargetForm.goal_name(class="form-control bg-gray-300 rounded-sm") }}<br>
                {% for error in ChangeTargetForm.goal_name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="mt-3">
                <p>{{ ChangeTargetForm.goal_value.label }}</p>
                {{ ChangeTargetForm.goal_value(class="form-control bg-gray-300 p-1 rounded-sm") }}<br>
                {% for error in ChangeTargetForm.goal_value.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <p>{{ ChangeTargetForm.submit(class="mt-3 bg-gray-300 rounded-sm cursor-pointer px-3", type="submit")
                }}</p>
        </form>
            {% else %}
            <a href="/?change_targ=1" class="px-4 border rounded-sm bg-gray-300 cursor-pointer hover:bg-gray-400">Изменить цель</a>

            {% endif %}
        </div>
    </div>
    <div class="max-w-md">
        <h2>Записи:</h2>
        <div class="flex justify-between mt-2">
            <a href="/?filter_by=earnings" class="bg-gray-300 rounded-sm cursor-pointer px-3">Доходы<br>{{ total_earnings }}</a>
            <a href="/?filter_by=costs" class="bg-gray-300 rounded-sm cursor-pointer px-3">Расходы<br>{{ total_costs }}</a>
            <a href="/" class="bg-gray-300 rounded-sm cursor-pointer px-3">Все записи</a>
        </div>
        <table class="my-5 table-auto border-collapse border border-gray-400">
            <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 p-3">Тип операции</th>
                <th class="border border-gray-300 p-3">Значение</th>
                <th class="border border-gray-300 p-3">Комментарий</th>
                <th class="border border-gray-300 p-3">Время операции</th>
            </tr>
            </thead>
            <tbody style="word-break: break-all;">
            {% for item in records %}
            <tr>
                <td class="border border-gray-300 p-3">{% if item.operation_type %} Расход {% else %} Доход {% endif
                    %}
                </td>
                <td class="border border-gray-300 p-3">{{ item.value }}</td>
                <td class="border border-gray-300 p-3">{{ item.comment }}</td>
                <td class="border border-gray-300 p-3">{{ item.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for("change_record_page") }}" class="mt-5 px-4 border rounded-sm bg-gray-300 cursor-pointer
        hover:bg-gray-400">Изменить запись
        </a>
    </div>

</div>
<script>
    document.getElementById('FastAddRecordForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch('http://localhost:8000/records/', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            window.location.href = 'http://localhost:8000/';
        })
        .catch(error => console.error('Ошибка:', error));
    });
    document.getElementById('ChangeTargetForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch('http://localhost:8000/user/me', {
            method: 'PUT',
            body: formData
        })
        .then(response => {
            window.location.href = 'http://localhost:8000/';
        })
        .catch(error => console.error('Ошибка:', error));
    });
</script>
{% endblock %}